/*  [Key]
	CTRL+F to search by section number:
	1.0 Base Element Styles					5.0 Interior Page Styles
	2.0 ezEdit ToolsFile Styles				6.0	LeftNav Item Styles
	3.0 Global/Header/Footer Styles			7.0	TopNav Styles
	4.0 Home Page Styles	
				[#.1 Font Styles | #.2 Layout Styles]

/*	1.0 Base Element Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	1.1 [Fonts]  */

body {
	color:#333333;
	font:75% arial, sans-serif;}
	
h1, h2, h3, h4, h5, h6 {
    font-family:'arial narrow', Arial, san-serif;}

h1 {
	color:#125FA1;
	font-size:250%;
	font-weight:normal;}

h2	
	{
	color:#005941;
	font-size:180%;
	font-weight:bold;}

h3	
	{
	color:#125FA1;
	font-size:150%;
	font-weight:bold;}

h4 {
	color:#125FA1;
	font-size:130%;
	font-weight:bold;}

h5 {
	color:#125FA1;
	font-size:120%;
	font-weight:bold;}

h6 {
	color:#125FA1;
	font-size:100%;
	font-weight:bold;}

p {
	line-height:160%;
	font-size:100%;}
	
ul, ol {
    line-height:160%;}

a {
	color:#125FA1;
	text-decoration:underline;}

	a:hover {
		text-decoration:none;}

td {
	font-size:75%;}

#container td, #intContainer td /* ezedit vs. front-end fix */ {
	font-size:100%;}

/*	1.2 [Layout]  */

body {
	height:98%;}
			
h1 	{padding:0px 0px 15px 0px;}
h2 	{padding:0px 0px 9px 0px;}
h3 	{padding:0px 0px 5px 0px;}
h4 	{padding:0px 0px 3px 0px;}
h5 	{padding:0px 0px 3px 0px;}
h6 	{padding:0px 0px 3px 0px;}

p 	{padding:0px 0px 15px 0px;}
	
img {border:0px;}
hr {margin: 0px 0px 15px;}

.clear {clear:both;}
.imgBlock {display:block;}

sup {font-size: 7px;}
sub {font-size: 7px;}

#content ul.VAMValSummaryErrors li {
	background:none;}

/*	2.0 ezEdit ToolsFile Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.emagine-note {
	color:#FF0000;
	font-size:110%;
	font-weight:bold;}
	
.imgRight {
	margin:5px 0px 10px 20px;}
	
	.imgRight_border {
		border: 1px solid #CCCCCC;
		padding:3px;
    	margin: 5px 0px 10px 20px;}
    	
.imgCenter {}
	
	.imgCenter_border {
    	border: 1px solid #CCCCCC;
		padding:3px;}
	
.imgLeft {
	margin:5px 20px 10px 0px;}
	
	.imgLeft_border {
    	border: 1px solid #CCCCCC;
		padding:3px;
   	 	margin: 5px 20px 10px 0px;}
   	 	
 .tableBorder {
    border: 1px solid #CCCCCC;}
 
.table-header-app, .table-header-app td, .table-header-app th {
	background-color:#005941;
	color:#FFFFFF;
	font-size:110%;
	font-weight:bold;
	padding:8px;}

.table-subheader-app {
	background:#999999;
	color:#FFFFFF;
	font-weight:bold;
	padding:8px;}

.table-row {
	padding:8px;
	border-bottom: 1px solid #BBBBBB;}
	
.table-altrow {
	background-color:#EEEEEE;
	padding:8px;
	border-bottom: 1px solid #BBBBBB;}
	
tr.table-row td, tr.table-altrow td {
	padding:8px;}
	
tr.table-altrow td {
	background-color:#eeeeee;}
		
.footnote {font-size:80%;}

.bullets_table {
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding: 20px 0px 20px 0px;}
	
	.bullets_table td{
	padding: 0px 7px 0px 10px;}
	
	.bullets_center {
		background:url(../../Images/English-US/bullet_divider.gif) center 0px no-repeat;}

.more_info_callout {
	border:1px solid #d6d6d6;
	padding:15px;
	background:#eee;}
	
.tableBorder {border: 1px solid #BBBBBB;border-bottom: none; margin-bottom: 15px;}

.global {border-left: 1px solid #BBBBBB;border-top: 1px solid #BBBBBB; margin-bottom: 15px;}

	.global .table-row {border-right: 1px solid #BBBBBB;}
	
	#content .global ul {margin-left: 20px;}
	
	.global .table-header-app {font-size: 120%; text-transform: uppercase;border-right: 1px solid #BBBBBB;}
	
	.global .table-subheader-app {border-right: 1px solid #BBBBBB;}

.pull_quote {}
	
#content table.pull_quote {
	background:url(../../images/english-us/pull_quote/quote_bg.gif) 0px 0px repeat-y;
	color:#005941;
	font-size:130%;
	font-weight:normal;
	width:180px;
	margin:0px 20px 20px 20px;}
	
	#content table td.pull_quote_content {
		padding:10px;}
	
/* FOR reference in tools file ONLY */

.table-header-app {}



/*	3.0 Global/Header/Footer Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	3.1 [Fonts]  */

#number {
    color:#999999;
    font-size:160%;
    line-height:100%;}
    
#utilities {
	color: #CCCCCC;
	font-size:80%;}

	#utilities a {
		color:#999999;
		font-weight:bold;
		text-decoration:none;}

		#utilities a:hover {
			text-decoration:underline;}		

#footer {
	color:#666666;
	font-size:80%;
	font-weight:bold;}

	#footer a {
		color:#666666;
		font-weight:bold;
		text-decoration:none;}

		#footer a:hover {
			text-decoration:underline;}
			
/*	3.2 [Layout]  */

#container {
    background:url(images/container_bg.jpg) center 0px no-repeat;
    clear:both;
	width:100%;}
	
#intContainer {
    background:#125fa1 url(images/int_container_bg.jpg) center bottom repeat-x;
    clear:both;
	width:100%;}
		
	#headerContainer {
	    background:url(images/header_bg.png) 0px 0px repeat-x;
	    clear:both;
	    position:relative;
	    width:100%;
	    z-index:10;}

	    #header {
		    height:145px;
		    margin:0px auto;		    
		    width:997px;}

		        #logo {
			        float:left;
			        margin:16px 0px 12px 0px;}
		    
		        #headerRight {
		            float:right;
		            width:806px;}
		            
		            #number {
		                display:inline;
		                float:right;		                
		                margin:20px 13px 0px 0px;}
				
		            #utilities {
		                clear:right;
		                display:inline;
		                float:right;
		                margin:15px 13px 0px 0px;}
			
			            #utilities ul {}

			                #utilities ul li {
				                background:url(images/utilities_list.html) 0px 4px no-repeat;
				                display:inline;
				                padding:0px 0px 7px 7px;}			

		            #topNav {
			            clear:right;
		                float:right;
			            height:22px;
			            margin:28px 0px 0px 0px;
			            width:642px;}
	
			            #topNav img {
				            float:left;
				            display:block;}
				
#footerContainer {
    background:url(images/footer_bg.png) 0px 0px repeat-x;
    clear:both;
    width:100%;}

#footer {
    margin:0px auto;
    height:70px;
	width:988px;}
		
	#footer #icons {
		float:right;
		margin:10px 0px 0px 10px;
		width:200px;}
		
		#footer #icons img {
			float:right;
			margin:0px 0px 0px 6px;}

	#footer ul {
		float:left;
		margin:33px 0px 0px 0px;}

		#footer ul li {
			display:inline;
			padding:0px 10px 0px 0px;}		

/*	4.0 Home Page Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	4.1 [Fonts]  */

#homeBottom h1 {
    color:#666666;
    font:normal 120% 'arial narrow', sans-seirf;
    padding:0px 0px 10px 0px;
    text-transform:uppercase;}
    
    #homeBottomBA h1 {padding:0px;}
    
    #homeBottomBA p {padding:0px 0px 10px 0px;}
    
    #homeBottomA a.learnMore {
        color:#666666;
        font:normal 120% 'arial narrow', sans-seirf;
        margin:0px 100px 0px 0px;
        text-transform:uppercase;
        text-decoration:none;}
        
        #homeBottomA a.learnMore:hover {
            text-decoration:underline;}
            
    #homeBottomBA a {
        color:#333333;
        font-size:80%;
        font-weight:bold;
        text-decoration:none;}
        
        #homeBottomBA a:hover {
            text-decoration:underline;}
            
/*	4.2 [Layout]  */

#homeMain {
	clear:both;
	margin:0px auto;
	padding:0px 0px 26px 0px;
	width:997px;}
			
		#homeFlash {
			color:#fff;
			width:375px;
			font-size:110%;
			line-height:120%;
		    clear:both;
		    height:251px;
		    padding:73px 0px 5px 30px;}	
			
			
			#homeFlash a {	
				color:#FFFFFF;
				font-weight:bold;
				text-decoration:none;}
				
				#homeFlash a:hover {
					text-decoration:underline;}
			
		#homeBottom {
			clear:both;
			padding:48px 0px 0px 0px;
			width:988px;}
				
			#homeBottomA {
				float:left;}
				
			#homeBottomB {
			    float:right;
			    padding:35px 0px 0px 0px;
			    width:328px;}
			
			    #homeBottomBA table {
			        background:url(images/homebottomc_bg.png) 0px 0px repeat-y;
			        width:100%;}
			
			    #homeBottomBB {
			        padding:8px 0px 0px 0px;}
			    
			        #homeBottomBB table.newsletterSignup {
			            background:url(images/homebottomc_bg.png) 0px 0px repeat-y;
			            width:100%;}
			            
			            #homeBottomBB table.newsletterSignup input {
			                border:0px;
			                margin:0px 0px 0px 0px;}
				
/*	5.0 Interior Page Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	5.1 [Fonts]  */

/*	5.2 [Layout]  */

#interiorMain {
    background:url(images/int_main_bg.png) 0px 0px repeat-y;
	clear:both;
	margin:-11px auto 0px auto;
	padding:0px 4px 0px 4px;
	position:relative;
	width:979px;
	z-index:1;}
	
	#sectionalGraphic {
		clear:both;
		height:210px;
		margin:0px 0px 0px 0px;
		width:100%;}
			
		#sectionalGraphic img {
			display:block;}
		
    #interiorColumns {
	    background-color:#FFFFFF;
	    clear:both;
	    padding:23px 0px 0px 0px;
	    width:100%;}
	
	    #leftNav {
		    background:url(images/leftnav_bg.gif) 0px 0px repeat-y;
		    float:left;
		    width:222px;}
		
		    #leftNav table {
			    width:100%;}	
		
	    #main {
		    float:right;
		    display:inline;
		    min-height:300px;
		    height:auto !important;
		    height:300px;
		    margin:0px 17px 0px 0px;
		    width:713px;}
	
		    #content {
			    padding:30px 26px 20px 0px;}
			    
			    #content table {
			        margin:0px 0px 15px 0px;}
		
			    #content ul {
				    margin:0px 0px 5px 29px;}
				
				    #content ul li {
					    background: url(images/int_list.gif) 0px 9px no-repeat;
					    padding:0px 0px 7px 10px;}
					
				    #content ul ul {
					    margin:0px 0px 0px 15px;}
					
					    #content ul ul li {
						    background: url(images/int_list.gif) 0px 9px no-repeat;
					        padding:0px 0px 7px 10px;}

			    #content ol {
				    margin:0px 0px 12px 30px;}

				    #content ol li {
					    list-style:decimal;
					    padding:0px 0px 7px 0px;}
				
/* 5.3 =-=-=-=-=-=-=-=-=-=-=-=-Library Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/*	5.4 [Fonts]  */
		
/*	5.5 [Layout]  */

	td#library {
		padding:40px 0px 30px 0px;
		width:157px;}
		
		td#library h2 {
			font-size: 120%;
			text-transform:uppercase;
			padding: 10px 4px 15px 15px;}
			
			td#library p {
				color:#666666;
				font-size:100%;
				padding: 0px 10px 10px 15px;}
				
				td#library a {
						font-size:100%;
						font-weight:bold;
						text-decoration:none;
						text-transform:uppercase;
						padding: 0px 5px 0px 0px;}
						
						td#library a:hover {
							text-decoration:underline;}
		
.LibItemsGreen {}
	
	.LibItemsGreen {
		background:url(../../images/english-us/LibItems/lib_item_bg.gif) 0px 0px repeat-y;
		font-weight:normal;}
		
		td.LibItemsGreen {
			padding:10px;}
	
		 .LibItemsGreen h2 {
			color:#005941;}			
				
					.LibItemsGreen a {
						color:#005941;}
			
.LibItemsBlue {}
	
	.LibItemsBlue {
		background:url(../../images/english-us/LibItems/lib_item_bg.gif) 0px 0px repeat-y;
		font-weight:normal;
		width:157px;}
	
		  td.LibItemsBlue {
			  padding:10px;}
			
			.LibItemsBlue H2 {
				color:#396BAB;}
				
					.LibItemsBlue a {
						color:#396BAB;}
			
.LibItemsGrey {}
	
	.LibItemsGrey {
		background:url(../../images/english-us/LibItems/lib_item_bg.gif) 0px 0px repeat-y;
		font-weight:normal;
		width:157px;}
	
		 td.LibItemsGrey {
			padding:10px;}
			
			.LibItemsGrey H2 {
				color:#333333;}
				
					.LibItemsGrey a {
						color:#333333;}

/*	6.0 LeftNav Item Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#leftNav td.leftnav-lvl1-on {
	background:#005941 none;
	color:#FFFFFF;
	font-weight:bold;
	padding:9px 10px 9px 29px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl1-off {
	background:url(images/leftnav_lvl1_off.html) 0px 0px no-repeat;
	color:#333333;
	font-weight:bold;
	padding:9px 10px 9px 29px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl1-on a {color:#FFFFFF;text-decoration:none;}
#leftNav td.leftnav-lvl1-on a:hover {color:#FFFFFF;text-decoration:underline;}
	
#leftNav td.leftnav-lvl1-off a {color:#333333;text-decoration:none;}
#leftNav td.leftnav-lvl1-off a:hover {color:#333333;text-decoration:underline;}

#leftNav td.leftnav-lvl2-on {
	background:url(images/leftnav_lvl2_on.gif) 0px 1px repeat-y;
	color:#125FA1;
	font-size:90%;
	font-weight:bold;
	padding:8px 10px 8px 40px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl2-off {
	background:url(images/leftnav_lvl2_off.gif) 0px 1px repeat-y;
	color:#333333;
	font-size:90%;
	font-weight:bold;
	padding:8px 10px 8px 40px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl2-on a {color:#125FA1;text-decoration:none;}
#leftNav td.leftnav-lvl2-on a:hover {color:#125FA1;text-decoration:underline;}
	
#leftNav td.leftnav-lvl2-off a {color:#333333;text-decoration:none;}
#leftNav td.leftnav-lvl2-off a:hover {color:#333333;text-decoration:underline;}

#leftNav td.leftnav-lvl3-on {
	background:url(images/leftnav_lvl3_on.gif) 0px 0px no-repeat;
	color:#125FA1;
	font-size:90%;
	font-weight:bold;
	padding:5px 22px 5px 56px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl3-off {
	background:url(images/leftnav_lvl3_off.gif) 0px 0px no-repeat; 
	color:#333333;
	font-size:90%;
	font-weight:bold;
	padding:5px 22px 5px 56px;
	vertical-align:top;}

#leftNav td.leftnav-lvl3-on a {color:#125FA1;text-decoration:none;}
#leftNav td.leftnav-lvl3-on a:hover {color:#125FA1;text-decoration:underline;}

#leftNav td.leftnav-lvl3-off a {color:#333333;text-decoration:none;}
#leftNav td.leftnav-lvl3-off a:hover {color:#333333;text-decoration:underline;}

/*	7.0 TopNav Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.RadMenu_Default .group .link  /* 1st level off cell */ {
	color: #333333;
	font-weight:bold;
	padding:6px 20px 6px 10px;	
	text-align: left;	
	white-space:normal;
	width:150px;}

.RadMenu_Default .group .group .link  /* 2nd level off cell */ {
	color: #333333;
	font-weight:bold;
	padding:6px 20px 6px 10px;	
	text-align: left;	
	white-space:normal;
	width:150px;}

.RadMenu_Default .link,
.RadMenu_Default .link:visited /* off text */ {
	
	cursor:pointer;
	text-decoration:none;}

.RadMenu_Default .group .link:hover,
.RadMenu_Default .group .focused,
.RadMenu_Default .group .expanded /* 1st level on cell*/ {
	background:#005941;
	color: #FFFFFF;
	font-weight:bold;
	padding:6px 20px 6px 10px;
	text-align:left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .group .group .link:hover,
.RadMenu_Default .group .group .focused,
.RadMenu_Default .group .group .expanded /* 2nd level on cell*/ {
	background:#005941;
	color: #FFFFFF;
	font-weight:bold;
	padding:6px 20px 6px 10px;
	text-align:left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .link:hover,
.RadMenu_Default .link:visited:hover,
.RadMenu_Default .focused,
.RadMenu_Default .expanded /* on text */ {
	
	cursor:pointer;
	text-decoration:none;}

.RadMenu_Default .group   /* whole dropdown */ {
	background:#F4F4F4;
	border:1px solid #CCCCCC;}

.RadMenu_Default {}

.RadMenu_Default_Context {
	background: none;}

.RadMenu_Default .text {
	padding-left: 0px;	
	padding-right: 0px;}

.RadMenu_Default .text:hover {
	padding-left: 0px;	
	padding-right: 0px;}

.slide /* use this style to add a top or bottom curve to a dropdown */ {
	/*background: url(images/topnav_dd_bg.gif) center bottom no-repeat;*/
	padding-bottom:5px;}

/* =-=-=-=-=-=-=-=-=-=-=-=-Form Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.form {
    font-size:100%;
    margin:1px 1px 5px 1px;}
    
.form-label {
    font-weight:bold;}
    
.form-button {}

.form-textbox {
    font-size:100%;
    color:#000000;
    border:1px solid #B3A892;}
    
.red-star {
    font-size:100%;
    color:#FF0000;}

.alert {
    font-size:100%;
    color:#FF0000;}
    
/* -=-=-=-=- Site Map -=-=-=-=- */

.sitemap-row {
	padding:8px;}

.sitemap-row-indented {
	padding:8px 8px 8px 28px;}
	
/* -=-=-=-=- Site Search -=-=-=-=- */
	
.searchTable {
	width:749px;
	margin:0px 0px 0px 11px;}
	
	.searchNav {
		border-bottom:1px solid #cccccc;
		padding:0px 0px 10px 0px;}